/vim/.netrwhist
/vim/tmp/*
/vim/bundle/*
/nvim/.netrwhist
/nvim/tmp/*
/nvim/bundle/*
/nvim/autoload/plug.vim
/nvim/plugin/packer_compiled.vim
/nvim/lazy-lock.json

bin/hub
z.sh

/private

systemd/default.target.wants
result
